@charset "UTF-8";

/* 본고딕 NotoKR */
@font-face{
	font-family:'NotoKr';
	font-weight: 400;
	src:url("../font/SpoqaHanSans-Regular.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Regular.woff") format('woff');
}
@font-face{
	font-family:'NotoKr';
	font-weight: 600;
	src:url("../font/SpoqaHanSans-Bold.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Bold.woff") format('woff');
}
/*에스코어드림*/
@font-face{
	font-family:'SCoreDream';
	font-weight: 200;
	src:url("../font/S-CoreDream-3Light.woff2") format('woff2'),
	url("../font/S-CoreDream-3Light.woff") format('woff');
}
@font-face{
	font-family:'SCoreDream';
	font-weight: 400;
	src:url("../font/S-CoreDream-4Regular.woff2") format('woff2'),
	url("../font/S-CoreDream-4Regular.woff") format('woff');
}
@font-face{
	font-family:'SCoreDream';
	font-weight: 500;
	src:url("../font/S-CoreDream-5.woff2") format('woff2'),
	url("../font/S-CoreDream-5.woff") format('woff');
}
@font-face{
	font-family:'SCoreDream';
	font-weight: 600;
	src:url("../font/S-CoreDream-6Bold.woff2") format('woff2'),
	url("../font/S-CoreDream-6Bold.woff") format('woff');
}
@font-face{
	font-family:'SCoreDream';
	font-weight: 700;
	src:url("../font/S-CoreDream-7ExtraBold.woff") format('woff');
}
/*어그로체*/
@font-face{
	font-family:'SBAggro';
	font-weight: 200;
	src: url("../font/SBAggroL.woff") format('woff');
}
@font-face{
	font-family:'SBAggro';
	font-weight: 400;
	src: url("../font/SBAggroM.woff") format('woff');
}
@font-face{
	font-family:'SBAggro';
	font-weight: 600;
	src: url("../font/SBAggroB.woff") format('woff');
}

/*Montserrat*/
@font-face{
	font-family:'Montserrat';
	font-weight: 500;
	src: url("../font/Montserrat-Medium.woff") format('woff');
}
@font-face{
	font-family:'Montserrat';
	font-weight: 600;
	src: url("../font/Montserrat-Bold.woff") format('woff');
}
/* Tenada */
@font-face{
	font-family:'Tenada';
	font-weight: 600;
	src: url("../font/Tenada.woff") format('woff');
}
/* HakgyoansimJiugae */
@font-face{
	font-family:'Hkj';
	font-weight: 600;
	src: url("../font/HakgyoansimJiugaeR.woff") format('woff');
}
